n8n-workflows/ChatGPT-Analyse-Reviews.json
{
  "name": "ChatGPT-Analyse-Reviews",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "18c13163-ce0c-4791-b335-5ee787bb5c63",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cFvTl9JOZMh1zu1zKW9j3C_a9VJQDGkkZlZkIUEIwDU",
          "mode": "list",
          "cachedResultName": "Customer-Feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cFvTl9JOZMh1zu1zKW9j3C_a9VJQDGkkZlZkIUEIwDU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1607119353,
          "mode": "list",
          "cachedResultName": "customer-feedback",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cFvTl9JOZMh1zu1zKW9j3C_a9VJQDGkkZlZkIUEIwDU/edit#gid=1607119353"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "c8644b01-2406-4b7c-ba5f-222137c0fa66",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Fgy4LKDYpazJ5zXi",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Review"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "0235a400-79c2-4e5f-9825-f503fa966bfc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AG6C99R45",
          "mode": "list",
          "cachedResultName": "noureddin-channel"
        },
        "text": "=Here's a summary:  {{ $json.output[0].content[0].text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        912,
        0
      ],
      "id": "660446ce-1b02-4b9b-9a78-3b3fc35da184",
      "name": "Send a message",
      "webhookId": "84a2c2a6-2325-4dc0-ac1f-275b950473cb",
      "alwaysOutputData": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "SHch1QFGBZvBKRl6",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a senior data and customer review analyst. You provide insight into customer reviews. \nThe dataset:  {{ $json.Review }}\nConduct an in depth analysis of the provided customer review dataset and then generate a thorough analytical report that has your key findings and recommendations.\n"
            },
            {
              "role": "system",
              "content": "Only output your final report."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        592,
        0
      ],
      "id": "66319f55-ae68-4ea6-aae1-52ff15a5a8a6",
      "name": "Message a model",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "HqxHPlypl4Fe9Ydw",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e0f4d177-0882-43f2-bd3a-13430270ab92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e57a00c9a204988ab10b9d8b0aeae9766380f8ee7e2335d76252955b957f407"
  },
  "id": "k2TgUAk5QxmbqrCJ",
  "tags": []
}