n8n-workflows/Multi-Model AI Pipeline with Gemini Planning, GPT Execution, and Claude Review.json
{
  "name": "Multi-Model AI Pipeline with Gemini Planning, GPT Execution, and Claude Review",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.task }}",
        "options": {
          "systemMessage": "You are a strategic planning agent. Analyze the user's request and create a detailed action plan with clear steps. Focus on breaking down the task into logical, actionable components."
        }
      },
      "id": "4cd7c132-c38d-4820-aa45-4f6bd3a7afd6",
      "name": "Planning Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0c24b174-d97e-46e9-8915-c7a46c383b6d",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "HYoJXP1SXXiLRaNa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Planning Agent (Gemini)').item.json.output }}",
        "options": {
          "systemMessage": "You are an execution agent. Take the plan provided and execute it step by step. Provide detailed results of your execution process."
        }
      },
      "id": "af9f1ac0-450d-4567-8f65-7e7e15dbd9ec",
      "name": "Execution Agent (GPT)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1056,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a543606b-9bb1-40d5-b2da-e9d864d38b3e",
      "name": "GPT Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "HqxHPlypl4Fe9Ydw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Execution Agent (GPT)').item.json.output }}",
        "options": {
          "systemMessage": "You are a review and quality assurance agent. Analyze the execution results, identify strengths and weaknesses, and provide constructive feedback and recommendations for improvement."
        }
      },
      "id": "cbd4b639-d6ac-4d8f-9867-58a3961d37d5",
      "name": "Review Agent (Claude)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1408,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "id": "db0700fe-b742-4b3a-920f-ca35068354ae",
      "name": "Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1488,
        528
      ],
      "credentials": {
        "anthropicApi": {
          "id": "wncVdYkDtuQzCTG1",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "task",
              "value": "Create a comprehensive marketing strategy for a new product launch",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1d7cfa0d-8468-4aab-bc62-e220508625d5",
      "name": "Set Task Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6d0f2fbc-a37e-493b-9ac9-be7be2e6ee5e",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Planning Agent (Gemini)": {
      "main": [
        [
          {
            "node": "Execution Agent (GPT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Model": {
      "ai_languageModel": [
        [
          {
            "node": "Execution Agent (GPT)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execution Agent (GPT)": {
      "main": [
        [
          {
            "node": "Review Agent (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Review Agent (Claude)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Task Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Task Input": {
      "main": [
        [
          {
            "node": "Planning Agent (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f03f75c9-dc27-4da2-bf82-91cd90a1f484",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e57a00c9a204988ab10b9d8b0aeae9766380f8ee7e2335d76252955b957f407"
  },
  "id": "Ec25MaMagpOVzexi",
  "tags": []
}