n8n-workflows/Multi-Model AI Pipeline with Gemini Planning, GPT Execution, and Gemini Review.json
{
  "name": "Multi-Model AI Pipeline with Gemini Planning, GPT Execution, and Gemini Review",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.task }}",
        "options": {
          "systemMessage": "You are a strategic planning agent. Analyze the user's request and create a detailed action plan with clear steps. Focus on breaking down the task into logical, actionable components."
        }
      },
      "id": "0ea5cce6-9c63-44dc-90f0-6e6f8e171838",
      "name": "Planning Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1e8383b8-36e3-4f1e-b938-991c55d24bdb",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "HYoJXP1SXXiLRaNa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Planning Agent (Gemini)').item.json.output }}",
        "options": {
          "systemMessage": "You are an execution agent. Take the plan provided and execute it step by step. Provide detailed results of your execution process."
        }
      },
      "id": "c403a48d-8b1a-4e8a-9c81-75cad2561c1e",
      "name": "Execution Agent (GPT)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1056,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "aeb2388c-3c88-45a0-8064-117e2e37d119",
      "name": "GPT Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "HqxHPlypl4Fe9Ydw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Execution Agent (GPT)').item.json.output }}",
        "options": {
          "systemMessage": "You are a review and quality assurance agent. Analyze the execution results, identify strengths and weaknesses, and provide constructive feedback and recommendations for improvement."
        }
      },
      "id": "ceb9cfa4-3b6a-473b-b08a-679771a21219",
      "name": "Review Agent (Claude)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1408,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "task",
              "value": "Create a comprehensive marketing strategy for a new product launch",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b5e6b291-fe13-4ccc-b460-6cb120c45e64",
      "name": "Set Task Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "dae2062a-ff85-419e-8c36-5f53d99160dc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        304
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1392,
        496
      ],
      "id": "db14e89d-a6d8-4cb7-8a3d-feef51fbd988",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "HYoJXP1SXXiLRaNa",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Planning Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Planning Agent (Gemini)": {
      "main": [
        [
          {
            "node": "Execution Agent (GPT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Model": {
      "ai_languageModel": [
        [
          {
            "node": "Execution Agent (GPT)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execution Agent (GPT)": {
      "main": [
        [
          {
            "node": "Review Agent (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Task Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Task Input": {
      "main": [
        [
          {
            "node": "Planning Agent (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Review Agent (Claude)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dac0eafc-4dfe-489b-9a2a-7f2f80120240",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4e57a00c9a204988ab10b9d8b0aeae9766380f8ee7e2335d76252955b957f407"
  },
  "id": "Fh0BJ4Avy3jPYEFv",
  "tags": []
}